/*** OiRA Pager ***/
.pagination {
  padding: 10px;
  margin: 0.5rem auto;
  border-radius: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .page-item {
    color: $text-color-blue-light;
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
    border: none;
    &.active .page-link {
      background: transparent;
      border: none;
      color: $text-color-blue-light;
    }
    .page-link {
      padding: 0;
      background: transparent;
      border: none;
      color: $text-color-blue-light;
    }
  }
  .pager__item--next {
    .page-link {
      background: transparent;
      border: none;
      color: $text-color-blue-light;
    }
  }
}

.page-view-oira-ws {
  .pagination {
    width: 70%;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-item {
      margin: 0 0.3rem;
      display: none;
      align-items: center;
      &.active {
        display: flex;
        margin-right: 2px;
        &:after {
          margin: 0 0 0 2px;
          content:"/";
          display: inline-block;
        }
      }
      &.last,
      &:last-child {
        display: flex;
        margin-left: 0;
        margin-right: 0;
      }
    }
    a.page-link {
      display: block;
      padding: 0;
      width: 18px;
      font-style: normal;
    }
    .page-item--ellipses {
      display: none;
    }
    .page-item--first,
    .page-item--previous,
    .pager__item--next,
    .page-item--last {
      margin: 0 1px;
      a {
        display: block;
        width: 28px;
        height: 28px;
        padding: 5px;
        text-indent: -999999rem;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        &:hover {
          background-color: $bg-color-grey-light-2;
        }
      }
    }
    .page-item--first {
      a {
        background-image: url(../images/pager-first.png);
      }
    }
    .page-item--previous {
      a {
        background-image: url(../images/pager-previous.png);
      }
    }
    .pager__item--next {
      a {
        background-image: url(../images/pager-next.png);
      }
    }
    .page-item--last {
      a {
        background-image: url(../images/pager-last.png);
      }
    }
  }
}

