.page-view-partner-profile #main-wrapper {
  padding-bottom: 1rem;
}

.page-view-partner-profile {
  overflow-x: hidden;
  width: 100%;
}

.view-partner-profile {
  .wrapper {
    padding: 1rem 0;
    background: $bg-color-purple-light;
    &.wrapper-last {
      padding: 0 0 2.5rem;
    }
  }
  .view-content.row {
    margin: 0 auto;
    margin: 0 auto;
    display: block;
    color: $text-color-purple;
  }
  .field-content.profile-intro-title .partner-first-section-title {
    margin-top: -5px;
  }
  .partner-section-title {
    font-family: $font-family-oswald;
    color: $text-color-purple;
    margin: 20px 0 11px;
    font-size: 2rem;
    padding: 0;
    &.partner-first-section-title {
      font-size: 2.5675rem;
    }
    &.partner-section-title--separator {
      border-top: 2px solid $bg-color-purple;
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }
  .partner-profile-section-content {
    &.section-flex {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
  .partner-profile-column {
    flex: 1;
  }
  .field-partner-profile {
    margin-bottom: 15px;
    .field-label{
      margin: 0 0 5px 0;
      font-weight: $font-weight-bold;
      &:after {
        margin: 0 0 0 7px;
        display: inline-block;
        content:"";
        width: 20px;
        height: 20px;
        background: url(../images/icon-screen.png) center no-repeat;
        background-size: cover;
      }
    }
    .field-content {
      width: 100%;
      min-height: 42px;
      padding: 0.5rem;
      border: 1px solid $bg-color-purple;
      color: $text-color-black;
    }

    &.field-partner-profile--logo {
      margin: 0;
      .field-content {
        padding: 0;
        border: none;
      }
    }
    &.field-partner-profile--title {
      width: auto;
      max-width: 48.5%;
    }
    &.field-partner-profile--social-links {
      .field-content {
        border: none;
        padding: 0;
        .list-group {
          margin: 0;
          li.list-group-item {
            margin-bottom: 10px;
            min-height: 42px;
            padding: 0.5rem;
            border: 1px solid $bg-color-purple;
            border-radius: 0;
            background: transparent;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
