/*** Sidebar Toggle ***/
.toggle-sidebar {
  display: none;
}

.sidebar .block {
  padding: 0;
}

.sidebar_first {
  .block{
    border: 0;
  }
  aside{
    color:$text-color-white;
    h2{
      cursor: pointer;
      padding: 10px 0;
      margin-bottom: 5px;
      font-family: 'Oswald';
      color:$text-color-white;
      font-size: 1.2rem;
      font-weight: normal;
      text-shadow: 0 0 0 $text-color-white;
      border-top: 2px solid $text-color-white;
      border-bottom: none;
      &:after{
        content: "\e252";
        font-family: "Glyphicons Halflings";
        display: inline-block;
        margin-left: 10px;
        line-height: 1;
      }
    }
    a{
      color:$text-color-white;
    }
    .facets-widget-checkbox{
      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.sidebar_first {
  aside {
    &:after {
      display:none;
    }
  }
}

.sidebar_first {
  h2 {
    cursor: pointer;
    &.clicked {
      &:after {
        font-family: "Glyphicons Halflings";
        content: "\e250";
      }
    }
    &:after {
      content: "\e252";
      font-family: "Glyphicons Halflings";
      margin-left: 10px;
    }
  }
  .facets-widget-checkbox {
    /*display: none;*/
  }
}

.page-view-search {
  .sidebar_first {
    aside {
      h2 {
        &:after {
          content: "\e250";
        }
        &.clicked {
          &:after {
            content: "\e252";
          }
        }
      }
    }
  }
}

