/*** Tabs in partner ***/
.partners-related-content {
  .nav-wrapper {
    margin: 0 0 1rem;
    background: $bg-color-purple;
  }
  li {
    a.item-nav-link {
      display: block;
      padding: 15px;
      color: $text-color-white;
      font-style: italic;
      border: none;
      &:hover {
        background-color: $bg-color-purple-light;
        color: $bg-color-purple;
        text-decoration: none;
      }
      &:before {
        display: inline-block;
        content: "";
        background-size: 100%;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
      &.active {
        background-color: $bg-color-purple-light;
        color: $bg-color-purple;
        text-decoration: none;
      }
    }
    &.nav-item-showall {
      a:before {
        background-image: url(../images/show-all-icon-w.png);
      }
      a:hover:before,
      a.active:before {
        background-image: url(../images/show-all-icon-p.png);
      }
    }
    &.nav-item-promotional {
      a:before {
        background-image: url(../images/promotional-resources-icon-w.png);
      }
      a:hover:before,
      a.active:before {
        background-image: url(../images/promotional-resources-icon-p.png);
      }
    }
    &.nav-item-oiratools {
      a:before {
        background-image: url(../images/tools-icon-w.png);
      }
      a:hover:before,
      a.active:before {
        background-image: url(../images/tools-icon-p.png);
      }
    }
    &.nav-item-news {
      a:before {
        background-image: url(../images/news-icon-w.png);
      }
      a:hover:before,
      a.active:before {
        background-image: url(../images/news-icon-p.png);
      }
    }
  }
  .dropdown-menu {
    border: none;
    width: 260px;
    li a {
      display: block;
      padding: 0.5rem 1rem;
      color: $text-color-black;
      font-style: normal;
      font-weight: normal;
      &:hover {
        background: $bg-color-purple;
        color: $text-color-white;
        text-decoration: none;
      }
    }
  }
}


/*****/

/**** Old ***/
.block-quicktabs {
  .content {
    border: none;
    .item-list {
      background-color: $bg-color-purple;
    }
    .quicktabs-tabs {
      max-width: 1170px;
      padding: 0 15px;
      margin: 0 auto;
      border-radius: 0;
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      > li {
        margin-right: 20px;
        padding: 0;
        border: none;
        border-radius: 0;
        > a {
          display: block;
          padding: 15px;
          color: white;
          font-style: italic;
          border: none;
          border-radius: 0;
          background: transparent;
          &:focus,
          &:hover {
            background-color: $bg-color-purple-light;
            color: $text-color-purple;
            text-decoration: none;
          }
        }
      }
    }
    .quicktabs-main {
      padding: 0;
      margin: 0.8rem auto 0;
    }
    .quicktabs-tabpage {
      max-width: 1170px;
      padding: 0 15px;
      margin: 0 auto;
    }
  }
  li.list-group-item {
    border: none;
    &.active {
      border: none;
      background: transparent;
      > a {
          background-color: $bg-color-purple-light;
          color: $text-color-purple;
          text-decoration: none;
      }
    }
  }
}

/*** Node type partner ***/
.node--type-partner {
  .block-quicktabs {
    .item-list {
      .quicktabs-tabs {
        li a {
          &:before {
            display: inline-block;
            content: "";
            background-size: 100%;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
        li.list-group-item {
          &:first-child {
            a {
              &:before {
                background-image: url(../images/show-all-icon-w.png);
              }
              &:hover,
              &:focus {
                &:before {
                  background-image: url(../images/show-all-icon-p.png);
                }
              }
            }
          }
          &.active:first-child {
            a:before {
              background-image: url(../images/show-all-icon-p.png);
            }
          }
        }
        li.list-group-item:nth-child(2) {
          a {
            &:before {
              background-image: url(../images/promotional-resources-icon-w.png);
            }
            &:hover,
            &:focus {
              &:before {
                background-image: url(../images/promotional-resources-icon-p.png);
              }
            }
          }
          &.active {
            a:before {
              background-image: url(../images/promotional-resources-icon-p.png);
            }
          }
        }
        #quicktabs-tab-partner_content-2 {
          a {
            &:before {
              background-image: url(../images/tools-icon-w.png);
            }
            &:hover,
            &:focus {
              &:before {
                background-image: url(../images/tools-icon-p.png);
              }
            }
          }
          &.active {
            a:before {
              background-image: url(../images/tools-icon-p.png);
            }
          }
        }
        #quicktabs-tab-partner_content-3 {
          a {
            &:before {
              background-image: url(../images/news-icon-w.png);
            }
            &:hover,
            &:focus {
              &:before {
                background-image: url(../images/news-icon-p.png);
              }
            }
          }
          &.active {
            a:before {
              background-image: url(../images/news-icon-p.png);
            }
          }
        }
      }
    }
  }
}


