/* Icons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 'Glyphicons Halflings';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}

/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
}

/* Font colours */
$text-color-purple: #786586;
$text-color-purple-light: #967ea7;
$text-color-black: #58585a;
$text-color-blue: #003399;
$text-color-blue-light: #10b2e4;
$text-color-blue-light-hover: #0e98c3;
$text-color-blue-hover: #23527c;
$text-color-white: #FFF;

.text-color-purple{
  color: #786586;
}

.text-color-black{
  color: #58585a;
}

.text-color-blue{
  color: #003399;
}

.text-color-blue-light{
  color: #10b2e4;
}

.text-color-blue-light-hover{
  color: #0e98c3;
}

.text-color-blue-hover{
  color: #23527c;
}

/* background colours */
$bg-color-purple: #786586;
$bg-color-purple-light: #dfd8e4;
$bg-color-purple-light-2: #b4a4bf;
$bg-color-purple-light-3: #d2c7da;
$bg-color-purple-light-4: #e5d9e7;
$bg-color-blue-light: #10b2e4;
$bg-color-blue-light-hover: #0e98c3;
$bg-color-blue-light-menu: #37d0ff;
$bg-color-white: #FFF;
$bg-color-grey: #808080;
$bg-color-grey-light: #f9f9f9;
$bg-color-grey-light-2: #eeeeee;
$bg-color-grey-light-3: #ededed;


.bg-color-purple{
  background: $bg-color-purple;
}
.bg-color-purple-light{
  background: $bg-color-purple-light;
}
.bg-color-purple-light-2{
  background: $bg-color-purple-light-2;
}
.bg-color-blue-light{
  background: $bg-color-blue-light;
}
.bg-color-blue-light-hover{
  background: $bg-color-blue-light-hover;
}
.bg-color-white{
  background: $bg-color-white;
}

