input [type=text],
input [type=number],
input [type=search],
input [type=password],
textarea,
select {
  background-color: $bg-color-white !important;
  border-radius: 0;
  width: 100%;
}

select {
  padding: 0.4rem;
  background: #fff url(../images/down-arrow-inputs-blue.png) right center no-repeat;
  background-size: contain;
}

legend {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  color: $bg-color-purple-light;
}
