@charset "UTF-8";
/* Icons */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot");
  src: url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff") format("woff"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 "Glyphicons Halflings";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}

/*Font Family*/
@font-face {
  font-family: "Roboto", sans-serif;
}
/* Font colours */
.text-color-purple {
  color: #786586;
}

.text-color-black {
  color: #58585a;
}

.text-color-blue {
  color: #003399;
}

.text-color-blue-light {
  color: #10b2e4;
}

.text-color-blue-light-hover {
  color: #0e98c3;
}

.text-color-blue-hover {
  color: #23527c;
}

/* background colours */
.bg-color-purple {
  background: #786586;
}

.bg-color-purple-light {
  background: #dfd8e4;
}

.bg-color-purple-light-2 {
  background: #b4a4bf;
}

.bg-color-blue-light {
  background: #10b2e4;
}

.bg-color-blue-light-hover {
  background: #0e98c3;
}

.bg-color-white {
  background: #FFF;
}

.full-width, .menu--private-zone, .page-node-402 .esener-template li, .block-views-blocknews-block-1 {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.absolut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**** Forms ****/
input[type=text],
input[type=search] {
  border-radius: 0;
  border: none;
}

/* Font Family */
/* Font-weights */
input [type=text],
input [type=number],
input [type=search],
input [type=password],
textarea,
select {
  background-color: #FFF !important;
  border-radius: 0;
  width: 100%;
}

select {
  padding: 0.4rem;
  background: #fff url(../images/down-arrow-inputs-blue.png) right center no-repeat;
  background-size: contain;
}

legend {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #dfd8e4;
}

/* Breadcrumbs */
.breadcrumb {
  background-color: transparent;
  font-size: 1rem;
  padding: 8px 15px 8px 0;
  margin-bottom: 0;
}
.breadcrumb a {
  color: #10b2e4;
  text-decoration: none;
  font-size: 1rem;
}
.breadcrumb a:hover {
  color: #0e98c3;
  text-decoration: underline;
}
.breadcrumb span {
  color: #58585a;
  font-style: italic;
  font-weight: bold;
}
.breadcrumb span.last {
  color: #58585a;
  font-style: normal;
  font-weight: normal;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #10b2e4;
  content: ">>";
  font-weight: bold;
  font-size: 1rem;
}

/*Headings*/
h1, h2, h3 {
  color: #58585a;
  font-weight: 400;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #786586;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.45rem;
  margin-bottom: 0;
  padding-left: 0;
}
h2 a {
  color: #58585a;
  text-decoration: none;
  font-style: normal;
}
h2 a:hover {
  color: #58585a;
  text-decoration: underline;
  transition: all 1s;
}

.node--type-article h2 {
  margin-top: 22px;
  margin-bottom: 11px;
  font-family: "Oswald", "Helvetica", Arial, sans-serif;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .node--type-article h2 {
    font-size: 1.1875rem;
  }
}
h3 {
  font-size: 1.1rem;
  color: #58585a;
}
h3 a {
  color: #58585a;
  text-decoration: none;
  font-style: normal;
}
h3 a:hover {
  text-decoration: underline;
  transition: all 1s;
}

h1.page-header {
  color: #786586;
}

/*** OiRA Pager ***/
.pagination {
  padding: 10px;
  margin: 0.5rem auto;
  border-radius: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination .page-item {
  color: #10b2e4;
  font-weight: bold;
  font-size: 1rem;
  background: transparent;
  border: none;
}
.pagination .page-item.active .page-link {
  background: transparent;
  border: none;
  color: #10b2e4;
}
.pagination .page-item .page-link {
  padding: 0;
  background: transparent;
  border: none;
  color: #10b2e4;
}
.pagination .pager__item--next .page-link {
  background: transparent;
  border: none;
  color: #10b2e4;
}

/* Common elements */
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #58585a;
  font-size: 16px;
  min-height: 100vh;
}

#page {
  /* This paddding requires the Height of the Footer */
  padding-bottom: 100px;
}

#main-wrapper {
  padding-bottom: 2rem;
}

a {
  color: #786586;
  font-weight: bold;
  font-style: italic;
}
a:hover {
  color: #786586;
  text-decoration: underline;
}

.container, fix-paddings {
  padding-left: 0;
  padding-right: 0;
}

.field--name-field-summary p {
  font-size: 1.2rem;
}

.node__content .field--name-field-summary p {
  font-size: 1.2rem;
}
.node__content .field--name-field-summary p strong {
  font-weight: 700;
}

.field--name-body p {
  font-size: 1rem;
}

.image-fluid {
  margin-bottom: 22px;
}
.image-fluid img {
  width: 100%;
  height: auto;
}

.contextual-links a, .toolbar a {
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.contextual-links a:hover, .toolbar a:hover {
  text-decoration: underline;
}

.push-right {
  margin-left: auto;
}

/* Share this on articles icons */
#share-this-on {
  float: left;
  padding-top: 0;
  padding-bottom: 1rem;
  width: 100%;
}
#share-this-on .a2a_svg svg {
  display: none;
}
#share-this-on .a2a_s__default {
  background-color: transparent !important;
}
#share-this-on .a2a_button_facebook {
  background: url(../images/share-facebook.png) no-repeat;
  background-size: 23px;
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 7px;
}
#share-this-on .a2a_button_twitter {
  background: url(../images/share-twitter.png) no-repeat;
  background-size: 23px;
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 7px;
}
#share-this-on .a2a_button_linkedin_share button {
  background: url(../images/share-linkedin.png) no-repeat;
  background-size: 23px;
  width: 23px;
  height: 23px !important;
  display: inline-block;
  background-color: transparent !important;
  text-indent: -9999px;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.addtoany_list.a2a_kit_size_32 a > span {
  width: 23px !important;
}

.addtoany_list a:hover span {
  opacity: 1;
}

/* END Share this on articles icons */
.node__content {
  margin-top: 0;
}

select.custom-select {
  width: auto;
  padding: 0;
  border: none;
  font-weight: bold;
  height: initial;
  background: url(../images/select-ico.png) no-repeat 100% -2px;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 1.5em;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5);
}

.see-more, .more-link {
  display: block;
}
.see-more a, .more-link a {
  color: #10b2e4;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}
.see-more a:hover, .more-link a:hover {
  text-decoration: underline;
}
.see-more a:before, .more-link a:before {
  content: ">";
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}

.datetime, .field--type-datetime {
  color: #786586;
  font-weight: bold;
}

.field--name-field-summary {
  font-weight: bold;
  margin-bottom: 15px;
}

#sidebar_first {
  float: left;
  background: #786586;
}
#sidebar_first .block {
  border: 0;
}
#sidebar_first aside {
  float: right;
  color: #FFF;
}
#sidebar_first aside h2 {
  font-family: "Oswald";
  color: #FFF;
  font-size: 1.2rem;
  font-weight: normal;
  text-shadow: 0 0 0 #fff;
}
#sidebar_first aside h2:after {
  content: "";
  font-family: "Glyphicons Halflings";
  display: inline-block;
  margin-left: 10px;
}
#sidebar_first aside h2.active:after {
  content: "";
  font-family: "Glyphicons Halflings";
  display: inline-block;
  margin-left: 10px;
}
#sidebar_first aside a {
  color: #FFF;
}
#sidebar_first aside .facets-widget-checkbox ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.content-two-columns {
  display: flex;
  padding-top: 1rem;
}
.content-two-columns .two-column {
  float: right;
  background: #dfd8e4;
  border-left: 5px solid #FFF;
  padding-bottom: 2rem;
}

/*Styling inputs*/
.page-view-oira-ws .sidebar_first input[type=checkbox] {
  display: none;
}
.page-view-oira-ws .sidebar_first label {
  font-size: 1rem;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.page-view-oira-ws .sidebar_first input[type=checkbox] + label:before {
  float: left;
  content: "✔";
  border: 0;
  border-radius: 0.2em;
  transition: 0.2s;
  clear: both;
  background: #FFF;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.page-view-oira-ws .sidebar_first input[type=checkbox]:checked + label:before {
  background-color: #FFF;
  border-color: #FFF;
  color: #786586;
}

/* End Common elements */
/* News view */
.view-news h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.view-news .row {
  margin-left: 0;
  margin-right: 0;
}
.view-news .row .col-3 {
  padding-left: 0;
}
.view-news .views-row {
  padding: 30px;
  width: 100%;
}
.view-news .views-row img {
  width: 100%;
  height: auto;
}
.view-news .views-row:nth-child(even) {
  background-color: #FFF;
}
.view-news .views-row:nth-child(odd) {
  background-color: #dfd8e4;
}
.view-news .see-more {
  margin-top: 15px;
}

/* End News view */
/* News detail */
.node--type-news h1 {
  color: #58585a;
}

/* End news detail */
/* Node News */
.node--type-news .node__content .field--name-field-image {
  display: inline-block;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  border: 1px solid grey;
}

/* OiRA Tools View */
.page-view-oira-ws .two-column section {
  position: relative;
}
.page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 7px;
}
.page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws .form-item-sort-by label {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
}
.page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws .form-item-sort-by select.custom-select {
  width: auto;
  margin-top: 7px;
  margin-left: 7px;
  font-size: 0.9em;
  display: inline-block;
}
.page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws .form-item-sort-by select.custom-select:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}
.page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws button {
  display: none;
}
.page-view-oira-ws #sidebar_first {
  padding-top: 2rem;
}
.page-view-oira-ws #sidebar_first aside h2 {
  border-bottom: 0;
  cursor: pointer;
}
.page-view-oira-ws #sidebar_first aside #edit-submit-oira-ws--2 {
  position: absolute;
  top: 18px;
  right: 0px;
  color: #786586;
  border: none;
  border-radius: 0px;
  outline: none;
  width: 35px;
  line-height: 19px;
  font-size: 1.2em;
  padding-left: 7px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.page-view-oira-ws #sidebar_first aside #edit-submit-oira-ws--2:before {
  content: "";
  font-family: "Glyphicons Halflings";
  margin-right: 30px;
}
.page-view-oira-ws #sidebar_first aside #edit-reset--2 {
  background: transparent;
  color: #FFF;
  border: 0;
  padding-left: 0;
}
.page-view-oira-ws #sidebar_first aside .form-item-sort-by {
  display: none;
}
.page-view-oira-ws #sidebar_first .block {
  border-top: 2px solid #FFF;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
}
.page-view-oira-ws #block-exposedformoira-wstools-ws .form-item-search-api-fulltext {
  display: none;
}
.page-view-oira-ws .view {
  padding-left: 0.5rem;
}
.page-view-oira-ws .view .view-header {
  width: 70%;
  text-align: right;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  border-top: 2px solid #786586;
  border-bottom: 2px solid #786586;
}
.page-view-oira-ws .view .view-content.row {
  width: 70%;
  margin: 2rem 0 0 0;
  padding-top: 2rem;
  background: #FFF;
}
.page-view-oira-ws .view .view-content.row .views-row {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #FFF;
}
.page-view-oira-ws .content-view-tools-view {
  position: relative;
  display: flex;
  padding: 2em;
  border-top: 2px solid #786586;
}
.page-view-oira-ws .content-view-tools-view .group-right time {
  color: #967ea7;
  font-style: italic;
  font-weight: 600;
}
.page-view-oira-ws .content-view-tools-view .group-right div:nth-child(1) a {
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  color: #58585a;
  font-weight: normal;
  font-style: normal;
}
.page-view-oira-ws .content-view-tools-view .group-right div:nth-child(1) a:before {
  font-family: "Glyphicons Halflings";
  content: "";
  color: #10b2e4;
  display: block;
  float: right;
  margin-top: -2px;
  padding-left: 10px;
}
.page-view-oira-ws .content-view-tools-view .group-right .views-field.views-field-field-image {
  float: left;
  border: 1px solid grey;
  margin-right: 1em;
  width: auto;
}
.page-view-oira-ws .content-view-tools-view .group-right h2 {
  color: #58585a;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 0;
}
.page-view-oira-ws .content-view-tools-view .group-right h2:hover {
  color: #786586;
  text-decoration: none;
}

/* OiRA FAQs */
.view-id-faqs_oira {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #dfd8e4;
}
.view-id-faqs_oira .views-accordion-header {
  font-family: "Oswald";
  background: transparent;
  color: #786586;
  font-size: 1.3rem;
  border: 0;
  outline: none;
}
.view-id-faqs_oira .ui-state-focus {
  border: 0;
}
.view-id-faqs_oira .ui-accordion-content-active {
  background: transparent;
  color: #58585a;
}
.view-id-faqs_oira .row {
  margin-left: 0;
  margin-right: 0;
}
.view-id-faqs_oira .views-row .views-row {
  border-bottom: 2px solid #786586;
}
.view-id-faqs_oira .views-row .views-row span.field-content {
  float: left;
}
.view-id-faqs_oira .views-row .views-row span.field-content:after {
  content: "";
  font-family: "Glyphicons Halflings";
  padding-left: 10px;
  display: block;
  float: right;
}
.view-id-faqs_oira .views-row .views-row .ui-state-active span.field-content:after {
  content: "";
  font-family: "Glyphicons Halflings";
  padding-left: 10px;
  display: block;
  float: right;
}
.view-id-faqs_oira .views-row .views-row .ui-accordion-header-icon {
  visibility: hidden;
}
.view-id-faqs_oira .ui-accordion .ui-accordion-header {
  padding-left: 0;
}
.view-id-faqs_oira .ui-accordion .ui-accordion-content {
  padding: 0;
}

/* Promotional Resources */
.page-view-promotional-materials-type .oira-section {
  background: #dfd8e4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.view-promotional-materials-type .views-view-grid {
  margin-left: -15px;
  margin-right: -15px;
}
.view-promotional-materials-type .views-view-grid > div {
  display: flex;
  flex-wrap: wrap;
}
.view-promotional-materials-type .views-field-name a {
  display: flex;
  height: 80px;
  align-items: flex-end;
  color: #786586;
  font-size: 1.6rem;
  border-bottom: 2px solid #786586;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-family: "Oswald";
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
}
.view-promotional-materials-type .views-field-name a:hover {
  text-decoration: none;
}
.view-promotional-materials-type .views-field-field-image img {
  width: 100%;
  height: auto;
}
.view-promotional-materials-type .views-field-description__value {
  font-size: 0.85rem;
  padding-top: 10px;
}

/* Node Articles */
.node--type-article h1 {
  color: #58585a;
}
.node--type-article h3 {
  font-size: 1.4rem;
}
.node--type-article h5 {
  font-size: 1rem;
  color: #58585a;
  font-weight: bold;
}

/** Wat's News **/
.page-node-450 {
  /*** To avoid horizontal scrollbar because some browsers understand 100vw with the vertical scroll ***/
  max-width: 100%;
  overflow-x: hidden;
  /*** ***/
}
.page-node-450 h1 {
  position: relative;
  z-index: 2;
  margin-top: -5.5rem;
  margin-bottom: 3rem;
  color: #FFF;
}
.page-node-450 .image-fluid {
  position: relative;
}
.page-node-450 .image-fluid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  botttom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 140%);
  z-index: 1;
}
.page-node-450 #share-this-on {
  display: none;
}

.block-views-blocknews-block-1 {
  padding: 30px 0;
  width: 100vw;
  position: relative;
  background: #786586;
}
.block-views-blocknews-block-1 h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  padding: 0 0 15px;
  max-width: 1140px;
  color: #FFF;
  border-bottom: 2px solid #FFF;
  font-size: 2.187rem;
  font-family: "Oswald", "Helvetica", Arial, sans-serif;
  font-weight: 500;
}
.block-views-blocknews-block-1 h2:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../images/icon-news-white.png) right center no-repeat;
  background-size: 100%;
}
.block-views-blocknews-block-1 .views-view-grid {
  padding: 0;
}
.block-views-blocknews-block-1 .view-news {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.block-views-blocknews-block-1 .view-news .views-row {
  padding: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.block-views-blocknews-block-1 .view-news .views-row:nth-child(odd) {
  background: transparent;
}
.block-views-blocknews-block-1 .views-col {
  padding: 1rem !important;
  margin: 0;
  max-width: 100%;
  min-height: 230px;
  background: white;
}
.block-views-blocknews-block-1 .views-field-field-publication-date,
.block-views-blocknews-block-1 .views-field-title {
  margin: 0 0 11px;
}
.block-views-blocknews-block-1 .views-field-title .field-content a {
  font-weight: 700;
  color: #58585a;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.1;
}
.block-views-blocknews-block-1 .views-field-title .field-content a:hover {
  color: #23527c;
}
.block-views-blocknews-block-1 .views-field-body {
  margin-bottom: 11px;
}
.block-views-blocknews-block-1 .views-field-view-node .field-content {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.block-views-blocknews-block-1 .views-field-view-node .field-content a {
  color: #10b2e4;
}
.block-views-blocknews-block-1 .views-field-view-node .field-content a:before {
  content: ">";
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.block-views-blocknews-block-1 .views-field-view-node .field-content a:hover {
  color: #10b2e4;
  text-decoration: underline;
}
.block-views-blocknews-block-1 .more-link {
  display: flex;
  justify-content: flex-end;
}
.block-views-blocknews-block-1 .more-link a {
  color: white;
  text-align: right;
}

.block-views-blocktools-block-2 {
  padding: 30px 0;
}
.block-views-blocktools-block-2 h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px;
  padding: 0 0 15px;
  max-width: 1140px;
  color: #967ea7;
  border-bottom: 2px solid #967ea7;
  font-size: 2.187rem;
  font-family: "Oswald", "Helvetica", Arial, sans-serif;
  font-weight: 500;
}
.block-views-blocktools-block-2 h2:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../images/icon-news-pale-purple.png) right center no-repeat;
  background-size: 100%;
}
.block-views-blocktools-block-2 .views-row {
  padding: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.block-views-blocktools-block-2 .views-col {
  padding: 1rem !important;
  margin: 0;
  width: 100% !important;
  max-width: 100%;
  min-height: 230px;
  background: #dfd8e4;
}
.block-views-blocktools-block-2 .views-field-title .field-content a {
  font-weight: 700;
  color: #58585a;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.1;
}
.block-views-blocktools-block-2 .views-field-title .field-content a:hover {
  color: #23527c;
}
.block-views-blocktools-block-2 .tool-teaser-content-wrapper {
  margin-bottom: 11px;
}
.block-views-blocktools-block-2 .tool-teaser-content-wrapper a {
  font-style: normal;
  font-size: 1.125rem;
  color: #58585a;
}
.block-views-blocktools-block-2 .tool-teaser-content-wrapper a:hover {
  color: #23527c;
}
.block-views-blocktools-block-2 .views-field-view-node .field-content {
  text-align: right;
}
.block-views-blocktools-block-2 .views-field-view-node .field-content:before {
  content: ">";
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.block-views-blocktools-block-2 .views-field-view-node .field-content:hover {
  color: #10b2e4;
  text-decoration: underline;
}
.block-views-blocktools-block-2 .more-link {
  display: flex;
  justify-content: flex-end;
}
.block-views-blocktools-block-2 .more-link a {
  color: #10b2e4;
  text-align: right;
}

/*** FACTS AND FIGURES ***/
.page-node-402 {
  /*** To avoid horizontal scrollbar because some browsers understand 100vw with the vertical scroll ***/
  max-width: 100%;
  overflow-x: hidden;
  /*** ***/
}
.page-node-402 .image-fluid {
  display: none;
}
.page-node-402 h1 {
  color: #967ea7;
}
.page-node-402 .resume-section {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 700;
}
.page-node-402 .esener-template ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.page-node-402 .esener-template li {
  padding: 30px 0 30px;
  list-style-type: none;
}
.page-node-402 .esener-template li:nth-child(odd) {
  background: #dfd8e4;
}
.page-node-402 .esener-template li > div {
  column-gap: 30px;
}
.page-node-402 .esener-item {
  margin: 0 auto;
  display: flex;
}
.page-node-402 .esener-item h2 {
  margin-top: 0;
  border-bottom: 2px solid #786586;
  padding-bottom: 20px;
  line-height: 1.1;
}
.page-node-402 .esener-item .summary {
  font-family: "Oswald";
  border-bottom: 2px solid #786586;
  padding-bottom: 17px;
  padding-top: 5px;
  margin-bottom: 15px;
  font-size: 1.1em;
}
.page-node-402 .esener-item .content-image {
  overflow: hidden;
  border: 1px solid #808080;
  cursor: pointer;
  position: relative;
  max-height: 350px;
  background-color: #FFF;
}
.page-node-402 .col-left,
.page-node-402 .col-right {
  padding: 0;
}

/**** Tabs ***/
.tabs {
  margin: 0 auto;
  max-width: 1140px;
}

/**** User Related ***/
.user-login-form {
  margin: 0 auto;
  max-width: 1140px;
}
.user-login-form .btn.btn-primary {
  background: #786586;
  border: 1px solid #786586;
  color: white;
}

/*** Language switcher ***/
.block-lang-dropdown .form-select {
  border: 2px solid #003399;
  outline: none;
  border-radius: 0px;
  height: initial;
  padding: 2px 3px;
  background-color: #786586;
  color: #ffffff;
  width: 190px !important;
  font-size: 1rem;
}

/**** Tables in Private Zone ****/
.path-private-zone {
  max-width: 100%;
  overflow-x: hidden;
}
.path-private-zone .block-system.block-system-main-block {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  background-color: #dfd8e4;
}
.path-private-zone .view-filters {
  margin: 0 0 0.3rem;
  padding: 1rem;
  background-color: #786586;
  color: white;
}
.path-private-zone .views-exposed-form {
  display: flex;
  flex-wrap: wrap;
}
.path-private-zone .views-exposed-form .form-row {
  width: 100%;
  margin: 0;
  align-items: flex-start;
}
.path-private-zone .views-exposed-form .form-row fieldset {
  padding: 0;
}
.path-private-zone .views-exposed-form .form-group {
  width: 25%;
  min-width: 25%;
  display: flex;
  margin-right: 0.8rem;
}
.path-private-zone .views-exposed-form .form-group .form-group {
  margin-right: 0;
  width: auto;
  min-width: auto;
}
.path-private-zone .views-exposed-form input, .path-private-zone .views-exposed-form select {
  background: #FFF;
  border-radius: 0;
  width: 100%;
}
.path-private-zone .views-exposed-form select {
  padding: 0.4rem;
  background: #fff url(../images/down-arrow-inputs-blue.png) right center no-repeat;
  background-size: contain;
}
.path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper {
  width: auto;
  min-width: auto;
  margin-right: 0;
}
.path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper .form-group {
  margin-right: 0.8rem;
}
.path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper legend {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
  color: #dfd8e4;
}
.path-private-zone .views-exposed-form .form-actions {
  width: auto;
  margin: 0 0 2rem;
  display: flex;
  justify-content: flex-start;
}
.path-private-zone .views-exposed-form .form-actions .form-submit {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #10b2e4;
  font-weight: bold;
}
.path-private-zone table thead > tr {
  border: none;
  background-color: #786586;
}
.path-private-zone table thead > tr th {
  background: transparent;
}
.path-private-zone table tr td {
  color: #58585a;
  border: none;
  border-bottom: 2px solid #d2c7da;
  font-weight: normal;
}
.path-private-zone table tr td a {
  font-weight: normal;
  font-style: normal;
}
.path-private-zone table tr th {
  border: none;
  background-color: #786586;
  color: white;
}
.path-private-zone .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.path-private-zone .table-striped > tbody > tr:nth-of-type(even) {
  background-color: transparent;
}
.path-private-zone .table-striped > tbody > tr:nth-of-type(even):hover {
  background-color: #f9f9f9;
}

.site-footer {
  width: 100%;
  height: auto;
  background-color: #10b2e4;
  padding: 0 0 15px 0;
  position: absolute;
  bottom: 0;
}
.site-footer .site-footer__bottom {
  margin-top: 0;
  border: 0;
}
.site-footer .site-footer__bottom .region {
  margin-top: 0;
}
.site-footer #block-copyright {
  width: 100%;
}
.site-footer #block-copyright p {
  font-size: 1rem;
  color: #FFF;
  padding-left: 10px;
  margin-bottom: 0;
}
.site-footer #block-footermenu {
  margin: 0;
}
.site-footer #block-footermenu ul li {
  border-right: 2px solid #FFF;
}
.site-footer #block-footermenu ul li a {
  color: #FFF;
  font-weight: normal;
  font-style: normal;
  padding: 0 10px 0 10px;
}
.site-footer #block-footermenu ul li a:hover {
  text-decoration: underline;
}
.site-footer .menu--social-menu-footer {
  margin-top: 0;
  margin-left: auto;
}
.site-footer .menu--social-menu-footer > ul > li > a {
  display: none;
}
.site-footer .menu--social-menu-footer ul {
  list-style: none;
}
.site-footer .menu--social-menu-footer ul li {
  float: left;
}
.site-footer .menu--social-menu-footer ul li a {
  padding: 0;
}
.site-footer .menu--social-menu-footer ul .field--type-entity-reference {
  margin: 0;
}
.site-footer .menu--social-menu-footer ul .menu-item a {
  border-right: 0;
}
.site-footer .menu--social-menu-footer ul .field--type-image img {
  margin: 0 10px 0 0;
}

.top-header-content {
  height: 150px;
  display: flex;
  align-content: center;
  /* Link menu News */
}
.top-header-content .region-top-header-logos {
  float: left;
}
.top-header-content .region-top-header-logos .field--name-field-image {
  height: 150px;
  display: flex;
  margin: 0;
  align-items: center;
}
.top-header-content .region-top-header-logos .field--name-field-image .field__item {
  float: left;
  margin-right: 20px;
}
.top-header-content .region-top-header-logos .field--name-field-image .field__item img {
  margin: 0;
}
.top-header-content .header-logo .logo-eu, .top-header-content .header-logo .logo-oira {
  margin-left: 30px;
}
.top-header-content .header-menu-news {
  display: block;
  float: left;
}
.top-header-content .header-menu-news a {
  color: #003399;
  font-style: normal;
  font-weight: normal;
  background: url("../images/icon-news-menu.png") no-repeat;
  padding-left: 36px;
  background-size: 39px;
  font-size: 0.9rem;
  background-position-y: 3px;
}
.top-header-content .header-blocks {
  display: block;
  float: right;
  /* Social media */
  /* Search*/
}
.top-header-content .header-blocks .region-header-form {
  display: block;
}
.top-header-content .header-blocks .form-row > fieldset, .top-header-content .header-blocks .form-row > div {
  padding-left: 0;
  padding-right: 0;
}
.top-header-content .header-blocks .block-search-form-block input {
  border-radius: 0px;
  border: 2px solid #003399;
  width: 160px;
  height: 30px;
  float: right;
}
.top-header-content .header-blocks .block-search-form-block .btn-primary {
  border-radius: 0px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #003399;
  border: 0px solid #003399;
  padding: 4px 0px 2px 11px;
  overflow: hidden;
}
.top-header-content .header-blocks .block-search-form-block .btn-primary:before {
  content: "";
  margin-right: 30px;
  margin-left: -5px;
  font-family: "Glyphicons Halflings";
}

/* Hide menu link to view only the Share links images in header */
#block-socialmenu > ul {
  list-style: none;
}
#block-socialmenu > ul > li {
  float: left;
  margin-right: 10px;
}
#block-socialmenu > ul > li > a {
  display: none;
}

/* SCSS to Home Page */
.content-home h2 {
  color: #967ea7;
  border-bottom: 2px solid #967ea7;
  font-size: 2.2rem;
  padding-bottom: 15px;
  font-family: "Oswald";
}

.content-purple {
  background: #dfd8e4;
  padding-top: 2rem;
  padding-bottom: 0.7rem;
}

.content-white {
  background: #FFF;
  padding-top: 2rem;
  padding-bottom: 0.7rem;
}

.content-home .field__label {
  float: left;
}
.content-home .field__label:after {
  content: ":";
}
.content-home .field__item {
  font-style: italic;
  font-weight: 600;
}

.home-slider .view-slideshow {
  margin-top: 35px;
  background-color: #786586;
}
.home-slider .view-slideshow > .row {
  margin-left: 0;
  margin-right: 0;
}
.home-slider .media--ratio--fluid {
  padding-bottom: 0 !important;
}
.home-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.home-slider .views-field-field-image img {
  width: 100%;
  height: auto;
}
.home-slider .views-field-title, .home-slider .views-field-body {
  position: relative;
  background-color: #786586;
  min-height: auto !important;
  transform: initial !important;
  color: #FFF;
}
.home-slider .views-field-title h1, .home-slider .views-field-body h1 {
  padding-top: 1.5rem;
}
.home-slider .views-field-title h1 a, .home-slider .views-field-body h1 a {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
}
.home-slider .views-field-body {
  padding-top: 0;
  padding-bottom: 4.3rem;
  font-size: 1.2rem;
}
.home-slider .slick-dots {
  bottom: 20px;
}
.home-slider .slick-dots li.slick-active button:before {
  color: #FFF;
  font-size: 1rem;
  opacity: 1;
}
.home-slider .slick-dots li button:before {
  color: #dfd8e4;
  font-size: 1rem;
  opacity: 1;
}

.content-oira-tools h2:after {
  content: "";
  background: url(../images/oira-tools.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: right;
}
.content-oira-tools h3 {
  margin-top: 10px;
  margin-bottom: 10 px;
}
.content-oira-tools h3 a:hover {
  color: #23527c;
}
.content-oira-tools .view-tools {
  padding-top: 1rem;
}
.content-oira-tools .view-tools .views-item-columns-container {
  background: #FFF;
  padding: 1rem;
  height: 100%;
}
.content-oira-tools .view-tools .views-item-columns-container .views-field-field-tool-link {
  margin-top: 5px;
}
.content-oira-tools .view-tools .views-item-columns-container .views-field-field-tool-link a {
  color: #58585a;
  font-style: normal;
}
.content-oira-tools .view-tools .views-item-columns-container .views-field-field-tool-link a:after {
  position: absolute;
  content: "";
  font-family: "Glyphicons Halflings";
  color: #10b2e4;
  padding-left: 5px;
}
.content-oira-tools .view-tools .views-item-columns-container .field--name-field-country {
  margin-bottom: 0;
}
.content-oira-tools .view-tools .views-item-columns-container span.see-more {
  position: absolute;
  cursor: pointer;
  color: #10b2e4;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  right: 30px;
  bottom: 15px;
}
.content-oira-tools .view-tools .views-item-columns-container span.see-more:hover {
  text-decoration: underline;
}
.content-oira-tools .view-tools .views-item-columns-container span.see-more:before {
  content: ">";
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.content-oira-tools .more-link {
  text-align: right;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.view-tools.view-display-id-block_1 .views-field-field-tool-link {
  margin-bottom: 15px;
}
.view-tools.view-display-id-block_1 .partners-wrapper {
  display: none;
}
.view-tools.view-display-id-block_1 .related-partners,
.view-tools.view-display-id-block_1 .co-author {
  display: flex;
  align-items: stretch;
}
.view-tools.view-display-id-block_1 .related-partners h4 a,
.view-tools.view-display-id-block_1 .co-author h4 a {
  font-size: 1.125rem;
}
.view-tools.view-display-id-block_1 .related-partners a,
.view-tools.view-display-id-block_1 .co-author a {
  color: #58585a;
  font-style: normal;
}

.content-latest-news h2:after {
  content: "";
  background: url(../images/latest-news.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: right;
}
.content-latest-news .view-news .attachment-before {
  border-bottom: 2px solid #786586;
  padding-bottom: 0;
  padding-top: 20px;
}
.content-latest-news .view-news .attachment-before .views-field-nothing {
  float: left;
  margin-right: 1.5rem;
  width: 50%;
}
.content-latest-news .view-news .attachment-before .views-field-nothing img {
  width: 100%;
  height: auto;
}
.content-latest-news .view-news .attachment-before h3 a {
  font-size: 2rem;
}
.content-latest-news .view-news .attachment-before span.see-more {
  float: none;
}
.content-latest-news .view-news .views-row {
  padding: 0;
}
.content-latest-news .view-news .views-row:nth-child(odd) {
  background-color: transparent;
}
.content-latest-news .view-news h3 a:hover {
  color: #23527c;
}
.content-latest-news .view-news span.see-more {
  float: right;
}
.content-latest-news .view-news .more-link {
  text-align: right;
}
.content-latest-news .view-news .views-view-grid.horizontal {
  padding-left: 0;
  padding-right: 0;
}
.content-latest-news .view-news .views-view-grid.horizontal .col-md-12.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.content-latest-news .view-news .views-view-grid.horizontal .row {
  display: flex;
  justify-content: space-between;
}
.content-latest-news .view-news .views-view-grid.horizontal .row .col-md-4 {
  flex-basis: 30%;
}

.content-promotional-materials h2:after {
  content: "";
  background: url(../images/promotional-materials.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: right;
}
.content-promotional-materials .intro-text-view {
  color: #967ea7;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
  font-style: italic;
}
.content-promotional-materials .view-promotional-materials {
  padding-bottom: 0;
  padding-top: 20px;
}
.content-promotional-materials .view-promotional-materials .view-content.row {
  margin-left: 0;
  margin-right: 0;
}
.content-promotional-materials .view-promotional-materials h4 {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-promotional-materials .view-promotional-materials .views-field-nothing img {
  width: 100%;
  height: auto;
}
.content-promotional-materials .more-link {
  width: 100%;
  text-align: right;
}

.content-oira-partners h2:after {
  content: "";
  background: url(../images/oira-partners.png) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  float: right;
}
.content-oira-partners .view-oira-partners {
  padding-bottom: 0;
  padding-top: 20px;
}
.content-oira-partners .view-oira-partners img {
  width: 100%;
  height: auto;
}
.content-oira-partners .view-oira-partners .views-view-grid.horizontal {
  margin-bottom: 20px;
}
.content-oira-partners .view-oira-partners .more-link {
  width: 100%;
  border-top: 2px solid #786586;
  padding-top: 20px;
  text-align: right;
}

#block-oira-theme-main-menu > ul > li:nth-child(1) > a {
  width: 37px;
  background: url("../images/oira-home.png") no-repeat;
  text-indent: -9999px;
}

#navbar-main {
  font-family: "Oswald", sans-serif;
  background-color: #10b2e4;
  color: #FFF;
}
#navbar-main #CollapsingNavbar > div.container {
  justify-content: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#navbar-main ul.navbar-nav li {
  border-right: 2px solid #FFF;
}
#navbar-main ul.navbar-nav li .nav-link {
  padding: 0 0.5rem;
}
#navbar-main ul.navbar-nav li a {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #FFF;
  padding-top: 0;
  padding-bottom: 0;
}
#navbar-main ul.navbar-nav li ul.dropdown-menu {
  background-color: #10b2e4;
  color: #FFF;
  border: 0;
  margin: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#navbar-main ul.navbar-nav li ul.dropdown-menu li {
  background-color: #10b2e4;
  border: 0;
  border-bottom: 2px solid #FFF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#navbar-main ul.navbar-nav li ul.dropdown-menu li a:hover {
  text-decoration: none;
}
#navbar-main ul.navbar-nav li ul.dropdown-menu li:hover {
  background-color: #0e98c3;
}
#navbar-main ul.navbar-nav li:hover ul.dropdown-menu {
  display: block;
  padding-bottom: 0;
}
#navbar-main ul.navbar-nav li:last-child {
  border-right: 0;
}
#navbar-main ul.navbar-nav .dropdown-toggle::after {
  content: none;
}

/*** Private menu ***/
.menu--private-zone {
  overflow: hidden;
  padding: 15px 0;
  background: #786586;
}
.menu--private-zone .menu-level-0 {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1140px;
}
.menu--private-zone .menu-level-0 .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu--private-zone .menu-level-0 .menu-item a {
  color: white;
}
.menu--private-zone .menu-level-0 > .menu-item a {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto 5px;
  padding: 70px 0 0;
  background-size: 56px 56px;
  background-repeat: no-repeat;
  background-position: center 10px;
  border-radius: 120px;
  text-align: center;
}
.menu--private-zone .menu-level-0 > .menu-item a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: #786586;
}
.menu--private-zone .menu-level-0 > .menu-item:first-child a {
  background-image: url(../images/news-menu.png);
}
.menu--private-zone .menu-level-0 > .menu-item:first-child a:hover {
  background-image: url(../images/news-menu-color.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(2) a {
  background-image: url(../images/tools-menu.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(2) a:hover {
  background-image: url(../images/tools-menu-color.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(3) a {
  background-image: url(../images/profile-menu.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(3) a:hover {
  background-image: url(../images/profile-menu-color.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(4) a {
  background-image: url(../images/collaboration-menu.png);
}
.menu--private-zone .menu-level-0 > .menu-item:nth-child(4) a:hover {
  background-image: url(../images/collaboration-menu-color.png);
}
.menu--private-zone .menu-level-0 > .menu-item:last-child a {
  background-image: url(../images/promotional-menu.png);
}
.menu--private-zone .menu-level-0 > .menu-item:last-child a:hover {
  background-image: url(../images/promotional-menu-color.png);
}
.menu--private-zone .menu-level-0 .menu-level-1 {
  padding: 0;
  display: flex;
}
.menu--private-zone .menu-level-0 .menu-level-1 .menu-item a {
  padding: 2px 0;
  background-color: white;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-style: italic;
  font-size: 0.9em;
  line-height: 16px;
  text-decoration: none;
  opacity: 0.8;
  color: #786586;
}
.menu--private-zone .menu-level-0 .menu-level-1 .menu-item a:hover {
  opacity: 1;
  color: #786586;
  background-image: none;
}

@media only screen and (max-width: 1024px) {
  /**** What's News ***/
  .block-views-blocknews-block-1 h2 {
    max-width: 960px;
  }
  .block-views-blocknews-block-1 .view-news {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 960px;
  }

  .block-views-blocktools-block-2 .views-view-grid {
    margin: 0 auto;
  }

  .page-node-402 .esener-item {
    column-gap: 24px;
    max-width: 960px;
  }
}
/*** End 1024px ***/
@media only screen and (max-width: 991px) {
  /* Header Search */
  .top-header-content .header-blocks .block-search-form-block {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .top-header-content .header-blocks .block-search-form-block input {
    display: none;
    height: 30px;
  }
  .top-header-content .header-blocks .block-search-form-block .btn-primary {
    pointer-events: none;
  }

  #block-socialmenu {
    display: none;
  }

  .top-header-content .header-menu-news {
    position: absolute;
    top: 70px;
    right: 20px;
  }

  /* Menu responsive */
  #navbar-main {
    padding: 0;
  }
  #navbar-main .navbar-toggler {
    padding: 1rem;
  }
  #navbar-main .navbar-toggler .icon-bar {
    background-color: #FFF;
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 1px;
  }
  #navbar-main ul.navbar-nav {
    width: 100%;
  }
  #navbar-main ul.navbar-nav li {
    padding: 1rem;
    border-right: 0;
    border-bottom: 1px solid #37d0ff;
  }
  #navbar-main ul.navbar-nav li.menu-item--expanded.dropdown ul.dropdown-menu {
    padding-left: 1rem;
    box-shadow: none;
  }
  #navbar-main ul.navbar-nav li.menu-item--expanded.dropdown ul.dropdown-menu li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #navbar-main ul.navbar-nav li.menu-item--expanded.dropdown ul.dropdown-menu li a {
    color: #58585a;
  }
  #navbar-main ul.navbar-nav .dropdown-toggle::after {
    content: " ";
  }

  #block-oira-theme-main-menu {
    width: 100%;
  }

  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu {
    display: none;
  }

  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu {
    display: none;
  }

  .navbar-collapse .container {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .block-views-blocknews-block-1 h2 {
    max-width: 720px;
  }
  .block-views-blocknews-block-1 .view-news {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 720px;
  }

  .block-views-blocktools-block-2 h2 {
    max-width: 720px;
  }

  /*** Facts and Figures ***/
  .page-node-402 .esener-item {
    column-gap: 24px;
    max-width: 720px;
  }
}
/* End Media 991px */
@media only screen and (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  /* Header Logos mobile */
  .top-header-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(1) img {
    width: 190px;
    height: auto;
  }
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(2) img {
    width: 47px;
    height: auto;
  }
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(3) img {
    width: 145px;
    height: auto;
  }
  .top-header-content .region-top-header-logos .field--name-field-image .field__item {
    margin-right: 0;
  }

  .top-header-content .header-menu-news {
    top: 164px;
    right: 75px;
    z-index: 999;
    color: #FFF;
  }
  .top-header-content .header-menu-news a {
    text-indent: -9999px;
    background: url(../images/icon-news-menu-white.png) no-repeat;
    background-size: 24px;
    padding-left: 10px;
  }
  .top-header-content .header-blocks .block-search-form-block {
    right: 20px;
    top: 155px;
    z-index: 999;
  }
  .top-header-content .header-blocks .block-search-form-block .btn-primary {
    background: transparent;
  }

  /* Home */
  .content-home {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content-latest-news .view-news .attachment-before .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .content-latest-news .view-news .attachment-before .views-field-nothing {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .content-latest-news .view-news .attachment-before .views-field-nothing img {
    display: none;
  }
  .content-latest-news .view-news .attachment-before h3 a {
    font-size: 1rem;
  }
  .content-latest-news .view-news h3 a:hover {
    font-size: 1rem;
    color: #23527c;
  }
  .content-latest-news .view-news span.see-more, .content-latest-news .view-news .more-link {
    float: none;
  }
  .content-latest-news .view-news .views-view-grid.horizontal {
    padding-left: 0;
    padding-right: 0;
  }
  .content-latest-news .view-news .views-view-grid.horizontal .row {
    display: block;
    justify-content: initial;
  }
  .content-latest-news .view-news .views-view-grid.horizontal .row .col-md-4 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-basis: 100%;
    border-bottom: 2px solid #786586;
  }

  /**** What's News ***/
  .block-views-blocknews-block-1 h2 {
    max-width: 720px;
  }
  .block-views-blocknews-block-1 .view-news {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    max-width: 720px;
  }

  .block-views-blocktools-block-2 h2 {
    max-width: 720px;
  }
}
/* End Media 767px */
@media only screen and (max-width: 480px) {
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(1) img {
    width: 124px;
    height: auto;
  }
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(2) img {
    width: 35px;
    height: auto;
  }
  .top-header-content .region-top-header-logos .field--name-field-image > .field__item:nth-child(3) img {
    width: 84px;
    height: auto;
  }

  /*** Node type article ***/
  .node--type-article .block-page-title-block,
.node--type-article .block-system-main-block {
    padding: 0 15px;
  }

  /*** What's New ***/
  .page-node-450 h1 {
    padding: 0 15px;
  }

  .block-views-blocknews-block-1 h2 {
    max-width: 100%;
    padding: 0 0 15px;
    margin: 0 15px 15px;
  }
  .block-views-blocknews-block-1 .view-news {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }
  .block-views-blocknews-block-1 .view-news .views-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .block-views-blocktools-block-2 h2 {
    max-width: 100%;
    padding: 0 0 15px;
    margin: 0 15px 15px;
  }
  .block-views-blocktools-block-2 .views-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-node-402 .esener-item {
    padding: 0 15px;
    flex-direction: column;
  }

  .path-private-zone .views-exposed-form .form-group {
    width: 100%;
    margin-right: 0;
  }
  .path-private-zone .views-exposed-form .form-group .form-group {
    width: auto;
  }
  .path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper {
    width: 100%;
    min-width: 100%;
  }
  .path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper .fieldset-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .path-private-zone .views-exposed-form #edit-field-publication-date-value-wrapper .fieldset-wrapper .form-group {
    width: 48%;
    margin-right: 0;
  }
  .path-private-zone .views-exposed-form .form-actions {
    padding: 0;
  }
}
/* End Media 480px */

/*# sourceMappingURL=oira-global.css.map */
