@media(max-width: 1023px) {

  .block-menu.menu--main {
    .nav > li.nav-item:first-child {
      a {
        margin: 0 auto;
      }
    }
  }

  .partners-related-content {
    li a.item-nav-link {
      span.text {
        display: none;
      }
    }
  }


  #block-logoosha {
    max-width: 280px;
  }
  .block-lang-dropdown {
    margin-right: 45px;
    margin-top: -8px;
    .form-select {
      width: 137px !important;
    }
  }

  #block-oira-theme-main-menu {
    .nav-link.dropdown-toggle {
      display: flex;
      align-items: center;
    }
    li.nav-item.menu-item--expanded {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .nav-link {
        &:after {
          display: inline-block;
          border: none !important;
          display: inline-block;
          margin-left: 15px;
          content: "\e250" !important;
          font-family: "Glyphicons Halflings";
          color: $text-color-white;
          text-indent: normal;
        }
        &.cliked {
          &:before {
            content: "\e252" !important;
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        padding-left: 1rem;
        box-shadow: none;
        background: none;
        &.show-me {
          display: block;
        }
        li {
          padding-left: 0;
          border-bottom: 1px solid #37d0ff;
          a {
            color: #58585a;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  #block-headerprintandfontsize {
    display: none;
  }
  .top-header-content {
    .header-blocks {
      margin-left: 0;
      height: 100%;
      .region-header-form {
        align-items: flex-start;
      }
    }
    .menu--header-menu a {
      position: relative;
      max-width: 40px;
      font-size: 0;
      color: transparent;
      &:before {
        position: absolute;
      }
    }
    .region-wrapper {
      padding:0 15px;
      flex-direction: column;
      align-items: flex-end;
    }
    .header-menu-news {
      order: 2;
      max-width: 40px;
    }
  }

  .content-two-columns {
    flex-direction: column;
    background: $bg-color-purple-light;
    .main-column {
      padding: 30px 15px 30px;
      background: $bg-color-purple-light;
      border-left: none !important;
    }
  }
  .page-view-oira-ws .view .view-header,
  .page-view-oira-ws .view .view-content.row {
    width: 100%;
  }
  #sidebar_first {
    display: none;
  }

  /*** Sidebar Toggle ***/
  .toggle-sidebar {
    border: none;
    background-color: #765e84;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 6px 12px;
    .text {
      display: none;
    }
    &:before {
      display: block;
      content: "\e003";
      font-family: "Glyphicons Halflings";
      font-size: 1.3rem;
      color: $text-color-white;
    }
    &:focus {
      outline: none;
    }
  }

  .sidebar_first {
    &.sidebar-expanded {
      display: block !important;
      position: absolute;
      max-width: 720px;
      top: 500px;
      left: 24px;
      z-index: 9999;
      padding-bottom: 1.5rem;
    }
    aside {
      .sidebar-close {
        &:after {
          cursor: pointer;
          display:block;
          content: "\e253";
          font-family: "Glyphicons Halflings";
          font-size: 1.2em;
          color: $text-color-white;
          float: right;
        }
      }
    }
  }

  .path-search {
    .oira-content .views-exposed-form,
    .view-search {
      max-width: 100%;
    }
  }

  .block-views-blockadditional-resources-block {
    .views-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
  .view-oira-partners.view-oira-national-partners-page .partner__item {
    padding-left: 0;
    .partner__name {
      padding-right: 0;
    }
    .content-count {
      padding-left: 0;
    }
    .count-item__label {
      font-size: 0.8125rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  /**** What's News ***/
  .block-views-blocknews-block-1 {
    h2 {
      max-width: 960px;
    }
    .view-news {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      max-width: 960px;
    }
  }
  .block-views-blocktools-block-2 {
    .views-view-grid {
      margin: 0 auto;
    }
  }
  .page-node-402 {
    .esener-item {
      column-gap: 24px;
      max-width: 960px;
    }
  }

  .page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws {
    top: 76px;
    left: 12px;
  }
}
/*** End 1024px ***/

@media only screen and (max-width : 991px) {
  /* Header Search */
  .top-header-content{
    align-items: stretch;
    .header-blocks{
      .block-search-form-block{
        position: absolute;
        right: 20px;
        top: 0;
        z-index: 10;
        input {
          display: none;
          height: 30px;
        }
        .btn-primary{
          pointer-events: none;
        }
      }
    }
    .region-top-header-logos .field--name-field-image {
      align-items: flex-end;
      .field__item {
        img {
          margin: 0;
        }
      }
      > .field__item:last-child {
        margin-top: 0;
        margin-left: 4px;
      }
    }
  }
  #block-socialmenu{
    display: none;
  }
  .top-header-content{
    .header-menu-news {
      position: absolute;
      top: 34px;
      right: 55px;
    }
  }

  .navbar-brand {
    max-width: 160px;
    margin: 0 auto;
    line-height: 1;
    img {
      margin: 0 auto 4px;
    }
  }

  /* Menu responsive */
  #navbar-main {
    padding: 0;
    .navbar-toggler {
      padding: 0.6rem;
      .icon-bar {
        background-color: $bg-color-white;
        display: block;
        width: 22px;
        height: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 1px;
      }
    }
    ul.navbar-nav{
      width: 100%;
      li {
        padding: 1rem;
        border-right: 0;
        border-bottom: 1px solid $bg-color-blue-light-menu;
      }
      li.menu-item--expanded.dropdown{
        ul.dropdown-menu{
          padding-left: 1rem;
          box-shadow: none;
          li{
            padding: 5px 0;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            a{
              color: $text-color-black;
            }
          }
        }
      }
    }
  }
  #block-oira-theme-main-menu{
    width: 100%;
  }

  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu {
    display: none;
  }

  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu{
    display: none;
  }

  .navbar-collapse{
    .container{
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .block-views-blocknews-block-1 {
    h2 {
      max-width: 720px;
    }
    .view-news {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      max-width: 720px;
    }
  }
  .block-views-blocktools-block-2 {
    h2 {
      max-width: 720px;
    }
  }

  /*** Facts and Figures ***/
  .page-node-402 {
    .esener-item {
      column-gap: 24px;
      max-width: 720px;
    }
  }


}/* End Media 991px */

/*** Tabs ***/
@media all and (min-width: 992px) {
  .nav .nav-item .dropdown-menu{ display: none; }
  .nav .nav-item:hover .nav-link{   }
  .nav .nav-item:hover .dropdown-menu{ display: block; }
  .nav .nav-item .dropdown-menu{ margin-top:0; }
}


@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  .top-header-content .region-top-header-logos .field--name-field-image {
    display: flex;
    align-items: flex-end;
    > .field__item {
      margin: 0;
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
    img {
      margin: 0;
    }
  }
  .top-header-content .block__print {
    margin-left: 10px;
  }
  .block__font-size {
    display: flex;
    align-items: flex-end;
  }
}



