@media(max-width: 1023px) {
  #block-logoosha {
    max-width: 280px;
  }
  .block-lang-dropdown {
    margin-right: 65px;
    .form-select {
      width: 137px !important;
    }
  }

  .menu--main {
    .nav-link.dropdown-toggle {
      display: flex;
      align-items: center;
      &:after {
        border: none !important;
        display: inline-block;
        margin-top: 5px;
        margin-left: 15px;
        content: "\e250" !important;
        font-family: "Glyphicons Halflings";
        color: $text-color-white;
      }
      &.clicked {
        &:after {
          content: "\e252" !important;
        }
      }
    }
  }

  #block-headerprintandfontsize {
    display: none;
  }
  .top-header-content {
    .header-blocks {
      margin-left: 0;
      .region-header-form {
        align-items: flex-start;
      }
    }
    .menu--header-menu a {
      position: relative;
      max-width: 40px;
      font-size: 0;
      color: transparent;
      &:before {
        position: absolute;
      }
    }
    .region-wrapper {
      padding:0 15px;
      flex-direction: column;
      align-items: flex-end;
    }
    .header-menu-news {
      order: 2;
      max-width: 40px;
    }
  }

  .content-two-columns {
    flex-direction: column;
    background: $bg-color-purple-light;
    .main-column {
      padding: 30px 15px 30px;
      background: $bg-color-purple-light;
      border-left: none !important;
    }
  }
  .page-view-oira-ws .view .view-header,
  .page-view-oira-ws .view .view-content.row {
    width: 100%;
  }
  #sidebar_first {
    display: none;
  }

  /*** Sidebar Toggle ***/
  .toggle-sidebar {
    border: none;
    background-color: $bg-color-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 6px 12px;
    .text {
      display: none;
    }
    &:before {
      display: block;
      content: "\e003";
      font-family: "Glyphicons Halflings";
      font-size: 1.3rem;
      color: $text-color-white;
    }
  }

  .sidebar_first {
    &.sidebar-expanded {
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      padding-bottom: 1.5rem;
    }
    aside {
      &:after {
        display:block;
        content: "\e253";
        font-family: "Glyphicons Halflings";
        font-size: 1.2em;
        color: $text-color-white;
        float: right;
      }
    }
  }

  .path-search {
    .oira-content .views-exposed-form,
    .view-search {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  /**** What's News ***/
  .block-views-blocknews-block-1 {
    h2 {
      max-width: 960px;
    }
    .view-news {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      max-width: 960px;
    }
  }
  .block-views-blocktools-block-2 {
    .views-view-grid {
      margin: 0 auto;
    }
  }
  .page-node-402 {
    .esener-item {
      column-gap: 24px;
      max-width: 960px;
    }
  }

  .page-view-oira-ws .two-column section #block-exposedformoira-wstools-ws {
    top: 76px;
    left: 12px;
  }
}
/*** End 1024px ***/

@media only screen and (max-width : 991px) {
  /* Header Search */

  .top-header-content{
    align-items: flex-end;
    .header-blocks{
      .block-search-form-block{
        position: absolute;
        right: 20px;
        top: 0;
        input {
          display: none;
          height: 30px;
        }
        .btn-primary{
          pointer-events: none;
        }
      }
    }
    .region-top-header-logos .field--name-field-image {
      align-items: flex-end;
      .field__item {
        img {
          margin: 0;
        }
      }
      .field__item:first-child {
        width: 280px;
      }
      > .field__item:last-child {
        margin-top: 0;
        margin-left: 4px;
      }
    }
  }
  #block-socialmenu{
    display: none;
  }
  .top-header-content{
    .header-menu-news {
      position: absolute;
      top: 34px;
      right: 55px;
    }
  }

  .navbar-brand {
    max-width: 160px;
    margin: 0 auto;
    line-height: 1;
    img {
      margin: 0 auto 4px;
    }
  }

  /* Menu responsive */
  #navbar-main {
    padding: 0;
    .navbar-toggler {
      padding: 0.6rem;
      .icon-bar {
        background-color: $bg-color-white;
        display: block;
        width: 22px;
        height: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 1px;
      }
    }
    ul.navbar-nav{
      width: 100%;
      li {
        padding: 1rem;
        border-right: 0;
        border-bottom: 1px solid $bg-color-blue-light-menu;
      }
      li.menu-item--expanded.dropdown{
        ul.dropdown-menu{
          padding-left: 1rem;
          box-shadow: none;
          li{
            padding: 5px 0;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            a{
              color: $text-color-black;
            }
          }
        }
      }
    }
  }
  #block-oira-theme-main-menu{
    width: 100%;
  }


  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu {
    display: none;
  }

  #navbar-main ul.navbar-nav li:hover ul.dropdown-menu{
    display: none;
  }

  .navbar-collapse{
    .container{
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .block-views-blocknews-block-1 {
    h2 {
      max-width: 720px;
    }
    .view-news {
      margin: 0 auto;
      width: 100%;
      padding: 0;
      max-width: 720px;
    }
  }
  .block-views-blocktools-block-2 {
    h2 {
      max-width: 720px;
    }
  }

  /*** Facts and Figures ***/
  .page-node-402 {
    .esener-item {
      column-gap: 24px;
      max-width: 720px;
    }
  }


}/* End Media 991px */
@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  .top-header-content .region-top-header-logos .field--name-field-image {
    display: flex;
    align-items: flex-end;
    > .field__item {
      margin: 0;
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
    img {
      margin: 0;
    }
  }
  .top-header-content .block__print {
    margin-left: 10px;
  }
  .block__font-size {
    display: flex;
    align-items: flex-end;
  }
}



