.site-footer{
  width: 100%;
  height: auto;
  background-color: $bg-color-blue-light;
  padding: 0 0 15px 0;
  position: absolute;
  bottom: 0;
  .site-footer__bottom {
    margin-top: 0;
    border: 0;
    .region{
      margin-top: 0;
    }
    .menu--social-menu-footer .menu {
      margin: 0;
      display: flex;
      li {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  #block-copyright{
    width: 100%;
    p{
      font-size: 1rem;
      color: $text-color-white;
      padding-left: 10px;
      margin-bottom: 0;
    }
  }
  #block-footermenu {
    margin: 0;
    ul{
      li{
        display: inline-block;
        border-right: 2px solid $bg-color-white;
        a{
          color: $text-color-white;
          font-weight: normal;
          font-style: normal;
          padding: 0 10px 0 10px;
          &:hover{
            text-decoration: underline;
          }
        }
        &:nth-child(5) {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .menu--social-menu-footer{
    margin-top: 0;
    margin-left: auto;
    > ul > li > a{
      display: none;
    }
    ul{
      list-style: none;
      li{
        float: left;
        a{
          padding: 0;
        }
      }
      .field--type-entity-reference{
        margin: 0;
      }
      .menu-item{
        a{
          border-right: 0;
        }
      }
      .field--type-image{
        margin: 0;
        img{
          margin: 0;
        }
      }
    }
  }
}

.site-footer{
  #block-footermenu {
    ul li {
      &:nth-child(4) {
        display: none;
      }
      &:nth-child(5) {
        display: inline-block;
      }
    }
  }
}

.role-authenticated {
  .site-footer{
    #block-footermenu {
      ul li {
        &:nth-child(4) {
          display: inline-block;
        }
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

