.site-footer{
  width: 100%;
  height: auto;
  background-color: $bg-color-blue-light;
  padding: 0 0 15px 0;
  position: absolute;
  bottom: 0;
  .site-footer__bottom{
    margin-top: 0;
    border: 0;
    .region{
      margin-top: 0;
    }
  }
  #block-copyright{
    width: 100%;
    p{
      font-size: 1rem;
      color: $text-color-white;
      padding-left: 10px;
      margin-bottom: 0;
    }
  }
  #block-footermenu{
    margin: 0;
    ul{
      li{
        border-right: 2px solid $bg-color-white;
        a{
          color: $text-color-white;
          font-weight: normal;
          font-style: normal;
          padding: 0 10px 0 10px;
          &:hover{
            text-decoration: underline;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  .menu--social-menu-footer{
    margin-top: 0;
    margin-left: auto;
    > ul > li > a{
      display: none;
    }
    ul{
      list-style: none;
      li{
        float: left;
        a{
          padding: 0;
        }
      }
      .field--type-entity-reference{
        margin: 0;
      }
      .menu-item{
        a{
          border-right: 0;
        }
      }
      .field--type-image{
        img{
          margin: 0 10px 0 0;
        }
      }
    }
  }
}
