#block-oira-theme-main-menu{
  > ul{
    > li:nth-child(1){
      > a{
        width: 37px;
        background: url("../images/oira-home.png") no-repeat;
        text-indent: -9999px;
      }
    }
  }
}
#navbar-main{
  font-family: 'Oswald',sans-serif;
  background-color: $bg-color-blue-light;
  color: $text-color-white;
    #CollapsingNavbar > div.container{
    justify-content: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  ul.navbar-nav{
    li{
      border-right: 2px solid $bg-color-white ;
      .nav-link{
        padding: 0 0.5rem;
      }
      a{
        font-family: 'Oswald',sans-serif;
        font-weight: normal;
        font-style: normal;
        color: $text-color-white;
        padding-top: 0;
        padding-bottom: 0;
      }
      ul.dropdown-menu{
        background-color: $bg-color-blue-light;
        color: $text-color-white;
        border: 0;
        margin: 0;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        li{
          background-color: $bg-color-blue-light;
          border: 0;
          border-bottom: 2px solid $bg-color-white;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          a{
            &:hover{
              text-decoration: none;
            }
          }
          &:hover{
            background-color: $bg-color-blue-light-hover;
          }
        }
      }
      &:hover{
        ul.dropdown-menu{
          display: block;
          padding-bottom: 0;
        }
      }
    }
    li:last-child{
      border-right: 0;
    }

    .dropdown-toggle::after{
      content: none;
    }
  }
}

