#block-oira-theme-main-menu{
  > ul{
    > li:nth-child(1){
      > a{
        width: 37px;
        background: url("../images/oira-home.png") no-repeat;
        text-indent: -9999px;
      }
    }
  }
}
#navbar-main{
  font-family: 'Oswald',sans-serif;
  background-color: $bg-color-blue-light;
  color: $text-color-white;
    #CollapsingNavbar > div.container{
    justify-content: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  ul.navbar-nav{
    li{
      border-right: 2px solid $bg-color-white ;
      .nav-link{
        padding: 0 0.5rem;
      }
      a{
        font-family: 'Oswald',sans-serif;
        font-weight: normal;
        font-style: normal;
        color: $text-color-white;
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        @media(min-width: 1024px) {
          text-align: center;
        }
      }
      ul.dropdown-menu{
        background-color: $bg-color-blue-light;
        color: $text-color-white;
        border: 0;
        margin: 0;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        li{
          background-color: $bg-color-blue-light;
          border: 0;
          border-bottom: 2px solid $bg-color-white;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          a{
            &:hover{
              text-decoration: none;
            }
          }
          &:hover{
            background-color: $bg-color-blue-light-hover;
          }
        }
      }
      &:hover{
        ul.dropdown-menu{
          display: block;
          padding-bottom: 0;
        }
      }
    }
    li:last-child{
      border-right: 0;
    }

    .dropdown-toggle::after{
      content: none;
    }
  }
}

/*** Private menu ***/
.menu--private-zone {
  margin-bottom: 15px;
  overflow: hidden;
  @extend .full-width;
  padding: 15px 0;
  background: $bg-color-purple;
  > .nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1140px;
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: white;
      }
    }
    > .nav-item {
      a {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 5px;
        padding: 70px 0 0;
        background-size: 56px 56px;
        background-repeat: no-repeat;
        background-position: center 10px;
        border-radius: 120px;
        text-align: center;
        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          color: $bg-color-purple;
        }
      }
      &:first-child {
        a {
          background-image: url(../images/news-menu.png);
          &:hover {
            background-image: url(../images/news-menu-color.png);
          }
        }
      }
      &:nth-child(2) {
        a {
          background-image: url(../images/tools-menu.png);
          &:hover {
            background-image: url(../images/tools-menu-color.png);
          }
        }
      }
      &:nth-child(3) {
        a {
          background-image: url(../images/profile-menu.png);
          &:hover {
            background-image: url(../images/profile-menu-color.png);
          }
        }
      }
      &:nth-child(4) {
        a {
          background-image: url(../images/collaboration-menu.png);
          &:hover {
            background-image: url(../images/collaboration-menu-color.png);
          }
        }
      }
      &:last-child {
        a {
          background-image: url(../images/promotional-menu.png);
          &:hover {
            background-image: url(../images/promotional-menu-color.png);
          }
        }
      }
    }
    .menu {
      padding: 0;
      display: flex;
      .nav-item a {
        padding: 2px 0;
        background-color: white;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 140px;
        border-radius: 5px;
        font-style: italic;
        font-size: 0.9em;
        line-height: 16px;
        text-decoration: none;
        opacity: 0.8;
        color: $text-color-purple;
        &:hover {
          opacity: 1;
          color: #786586;
          background-image: none;
        }
      }
    }
  }
}

.page-view-private-images.private-zone-collaboration-area-private-images,
.path-private-zone.private-zone-collaboration-area-audiovisual-materials,
.private-zone-collaboration-area-partners-documents {
  .menu--collaboration {
    margin-bottom: 10px;
    background: $bg-color-purple;
    ul {
      width: 100%;
      max-width: 1170px;
      @media (min-width: 768px) {
        width: 720px;
      }
      @media (min-width: 992px) {
        width: 970px;
      }
      @media (min-width: 1200px) {
        width: 1170px;
      }
      padding: 0 15px;
      margin: 0 auto;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .menu-item {
        display: inline-block;
        padding: 15px 40px;
        margin: 0;
        .field--name-field-image {
          display: none;
        }
        a {
          color: white;
          font-style: normal;
          font-weight: normal;
        }
        &.menu-item--active-trail {
          background: $bg-color-purple-light;
          a {
            color: $text-color-purple;
          }
        }
      }
    }
  }
}


