.node-add-practical-tool {
  overflow-x: hidden;
  width: 100%;
}

.node-form {
  background-color: $bg-color-purple-light;
  overflow: auto;
  margin: 0 auto 15px;
  padding-bottom: 30px;
  padding-top: 15px;
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1170px;
    > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  label,
  legend {
    color: $text-color-purple;
    font-weight: $font-weight-bold;
  }
  .form-item .form-group,
  .js-form-item {
      display: flex;
      flex-direction: column;
  }
  .form-group.js-form-item-title-0-value {
    margin: 0;
    &:after {
      width: 100%;
      margin: 0 0 1rem;
      content: "The English tool name";
      display: block;
      color: $text-color-black;
    }
  }
  .form-group.js-filter-wrapper {
    display: none;
  }
  select.custom-select {
    padding: 0.5rem;
    background-position: 98% 50%;
    border-radius: 0;
  }
  input {
    border: none;
    border-radius: 0;
  }
  .button {
    background: $bg-color-purple;
    color: white;
    border-radius: 0;
    border: none;
    font-weight: $font-weight-bold;
  }
  js-filter-guidelines {
    display: none;
  }
  .form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    #edit-submit {
      background-color: $bg-color-blue-light;
      margin-top: 40px;
      min-width: 200px;
      max-width: 300px;
      flex: 1;
      &:before {
        display: inline-block;
        content: "> ";
      }
    }
    .oira-save {
      display: block;
      width: 100%;
      height: 70px;
      margin-top: 50px;
      font-size: 1.4em;
    }
  }
  .js-form-type-select {
    label {
      font-style: italic;
    }
  }
  small.description {
    font-size: 1rem !important;
    color: $text-color-black !important;
  }
  #edit-field-image-wrapper {
    small.description {
      position: relative;
      margin-top: 5px;
      &:hover {
        color: $text-color-blue-hover !important;
        text-decoration: underline;
        cursor: pointer;
        ul {
          text-decoration: none;
          color: $text-color-black;
          cursor: default;
        }
      }
      .help-icon {
        &:before {
          font-family: 'Glyphicons Halflings';
          content: "\e085";
          display: inline-block;
          margin: 0 3px 0 0;
        }
      }
      ul {
        width: 276px;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        display: none;
        text-decoration: none;
        background: $bg-color-white;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        list-style: none;
        &:before {
          position: absolute;
          top: -10px;
          left: 46%;
          display: block;
          content:"";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid white;
        }
        li {
          padding: 2px 30px;
          color: #737373;
        }
        li:first-child {
          padding: 8px 14px;
          border-bottom: 1px solid $text-color-black;
          background-color: #f7f7f7;
          border-bottom: 1px solid #ebebeb;
          border-radius: 8px 8px 0 0;
        }
        li:nth-child(2) {
          padding-top: 15px;
        }
        li:nth-child(2),
        li:nth-child(3){
          &:before {
            margin: 0 5px 0 -15px;
            display: inline-block;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 25px;
            background: $bg-color-grey;
          }
        }
        &.show-me {
          position: absolute;
          display: block;
          z-index: 100;
          top: 30px;
        }
      }
    }
  }
  select.form-select {
    background: url(../images/down-arrow-inputs.png) no-repeat right #ffffff;
    appearance: none;
    padding-right: 50px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position-x: right;
    background-size: contain;
    margin-right: 0px;
  }
  select.form-select[multiple="multiple"] {
    background: $bg-color-white;
  }
}

.node-form-fields-group {
  margin-bottom: 22px;
  padding: 0 15px 15px;
  background: white;
  h3 {
    margin: 0 -15px 15px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: $text-color-black-extra;
    background-color: $bg-color-grey-light-5;
    border-color: $bg-color-grey-light-4;
  }
}


