@media only screen and (max-width : 768px) {
  .content-latest-news {
    .view-news {
      .attachment-before {
        .col-md-12{
          padding-left: 0;
          padding-right: 0;
        }
        .views-field-nothing {
          float: none;
          margin-right: 0;
          width: 100%;
          img {
            display: none;
          }
        }
        h3 {
          a {
            font-size: 1rem;
          }
        }
      }
      h3 {
        a:hover {
          font-size: 1rem;
          color: $text-color-blue-hover;
        }
      }
      span.see-more, .more-link {
        float: none;
      }
      .views-view-grid.horizontal {
        padding-left: 0;
        padding-right: 0;
        .row {
          display: block;
          justify-content: initial;
          .col-md-4 {
            padding-left: 0;
            padding-right: 0;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            flex-basis: 100%;
            border-bottom: 2px solid $bg-color-purple;
          }
        }
      }
    }
  }

}/* End Media 768px */
